body {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.header1 {
	height: 42px;
	background-color: #293449;
	font-size: 0;
}

.header2 {
	background-color: #f1f5f7;
	min-height: 278px;
	font-size: 0;
}

.container {
	width: 940px;
	margin: 0px auto;
}

.upper-menu-text {
	text-decoration: none;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.header1 li {
	text-align: center;
	max-width: 150px;
}

.logo {
	width: 220px;
	height: 42px;
	text-align: center;
	background: #ee3643;
}

.logo a {
	display: block;
	padding: 12px 12px 7px 12px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
}

.logo:hover {
	background-color: #ca2c37;
	cursor: pointer;
}

.search-tab {
	position: relative;
	width: 270px;
}

.search-button input {
	border: 0px;
	background-color: #293449;
	width: 270px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;
	height: 42px;
	padding-left: 48px;
	padding-bottom: 2px;
	box-sizing: border-box;
}

.search-button input::-webkit-input-placeholder {
	color: #ffffff;
}

.search-button input::-moz-placeholder {
	color: #ffffff;
	opacity: 1;
}

.search-button input:-ms-input-placeholder {
	color: #ffffff;
	opacity: 1;
}

.search-tab::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	width: 18px;
	height: 18px;
	background: transparent url("../img/sprite.png") no-repeat -5px -453px;
	opacity: 0.3;
}

.search-button input:hover {
	cursor: pointer;
	background-color: #212a3a;
}

.search-tab:hover::before {
	background: transparent url("../img/sprite.png") no-repeat -5px -453px;
	opacity: 1;
}

input.focus-search:focus {
	background: #ffffff url("../img/.icon-search-focus.png") no-repeat 17px 12px;
	color: #000000;
}

input.focus-search:focus::-webkit-input-placeholder {
	color: #262626;
}

input.focus-search:focus::-moz-placeholder {
	opacity: 1;
	color: #262626;
}

input.focus-search:focus:-ms-input-placeholder {
	opacity: 1;
	color: #262626;
}

.bookmarks {
	position: relative;
	padding: 12px 27px 12px 44px;
}

.bookmarks::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	width: 18px;
	height: 18px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -31px;
	opacity: 0.3;
}

.bookmarks:hover {
	cursor: pointer;
	background-color: #212a3a;
}

.bookmarks:hover::before {
	opacity: 1;
}

.bookmarks:active::before {
	opacity: 0.3;
}

.cart {
	position: relative;
	padding: 12px 30px 12px 50px;
}

.active-cart {
	display: inline-block;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 26px;
	background-color: #ee3643;
}

.cart::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 16px;
	width: 18px;
	height: 18px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -5px;
	opacity: 0.3;
}

.cart:hover {
	cursor: pointer;
	background-color: #212a3a;
}

.cart:active,
.bookmarks:active {
	background-color: #161d29;
}

.cart:hover::before {
	opacity: 1;
}

.cart:active::before {
	opacity: 0.3;
}

.order {
	background-color: #63a63e;
	padding: 12px 22px 12px 20px;
}

.order:hover {
	cursor: pointer;
	background-color: #5fbb2d;
}

.order:active {
	background-color: #518534;
	color: #b7c9af;
}

.block {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}

.builder-shop {
	position: relative;
	width: 300px;
}

.builder-shop::before {
	position: absolute;
	content: "";
	width: 220px;
	height: 5px;
	background-color: #b52933;
}

.builder-shop p {
	margin-top: 26px;
	margin-left: -8px;
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	white-space: pre-wrap;
}

.phone {
	position: relative;
	width: 264px;
	height: 39px;
	border: 3px solid #ffffff;
	margin: 0 0 -10px 18px;
}

.phone::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 12px;
	width: 19px;
	height: 19px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -374px;
}

.phone-number {
	margin-top: 46px;
	margin-left: 2px;
	width: 300px;
}

.contact {
	margin-top: 11px;
	margin-left: 21px;
	font-family: "Cuprum", "Arial", sans-serif;
	text-align: center;
	color: #e9292a;
	font-size: 21px;
	line-height: 18px;
}

.adress {
	margin-left: 28px;
	margin-top: 18px;
	color: #32425c;
	font-size: 14px;
}

.login {
	display: inline-block;
	vertical-align: top;
	padding: 13px 26px 13px 47px;
	background-color: #ffffff;
	text-decoration: none;
	font-size: 21px;
	line-height: 18px;
	color: #000000;
}

.authorisation {
	position: relative;
	margin-left: 57px;
	margin-top: 47px;
}

.authorisation::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -320px;
}

.authorisation a:hover {
	cursor: pointer;
	color: #ee3643;
}

.authorisation a:hover::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	background: transparent url("../img/.icon-loginhover20-17.png") no-repeat;
}

.authorisation a:active {
	color: #cacaca;
}

.authorisation a:active::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -320px;
}

.register {
	padding: 10px 24px 10px 24px;
	background-color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-size: 21px;
	line-height: 18px;
	color: #000000;
}

.registration {
	margin-top: 60px;
	margin-left: 10px;
	background-color: #ffffff;
}

.registration a:hover {
	color: #ee3643;
}

.registration a:active {
	color: #cacaca;
}

.main-menu {
	margin-top: 21px;
}

.navigation-menu {
	margin-top: 24px;
	background: #32425c;
	box-shadow: 0px 5px 0 0 #293449;
	font-size: 0;
}

.navigation-menu ul {
	list-style: none;
}

.navigation-menu li {
	display: inline-block;
	vertical-align: top;
}

.navigation-menu a {
	display: block;
	padding-top: 20px;
	padding-bottom: 18px;
	color: #ffffff;
	text-decoration: none;
	font-size: 17px;
	line-height: 17px;
}

.navigation1 {
	padding-left: 51px;
	padding-right: 30px;
}

.navigation2 {
	padding-left: 34px;
	padding-right: 28px;
}

.navigation3 {
	padding-left: 30px;
	padding-right: 30px;
}

.navigation4 {
	padding-left: 30px;
	padding-right: 31px;
}

.navigation5 {
	padding-left: 29px;
	padding-right: 32px;
}

.navigation6 {
	padding-left: 30px;
	padding-right: 30px;
}

.navigation7 {
	padding-left: 33px;
	padding-right: 52px;
}

.navigation-menu a:hover {
	background: #293449;
}

.navigation-menu a:active {
	background: #1d2739;
	color: #a1a4a8;
}

.content {
	margin-top: 59px;
}

.features {
	font-size: 0;
}

.block2 h3 {
	padding-left: 22px;
	margin-top: 21px;
	margin-bottom: 0px;
}

.block2 {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 123px;
}

.button2 {
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 17px;
	margin-left: 25px;
	margin-top: 12px;
	padding: 12px 23px 9px;
	width: 135px;
	box-sizing: border-box;
	border-radius: 4px;
}

.services h2,
.columns h2 {
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
}

.features h3 {
	color: #ffffff;
	font-size: 24px;
	line-height: 30px;
}

.materials {
	background: url("../img/vedro44-65.png") no-repeat 213px 31px, url("../img/background-flag.png") no-repeat 240px 0px;
	background-color: #f6b22d;
}

.materials a {
	background-color: #dda028;
}

.materials a:hover {
	background-color: #c58e24;
}

.materials a:active {
	background-color: #ac7c1f;
}

.discount2 {
	display: block;
	background: #85d179 url("../img/discount2-background.png") no-repeat 196px 26px;
}

.discount2 a {
	margin-left: 23px;
	padding-left: 23px;
	padding-right: 9px;
	background-color: #77bc6d;
}

.discount2 a:hover {
	background-color: #6aa761;
}

.discount2 a:active {
	background-color: #5d9254;
}

.delivery {
	display: block;
	background: #f6b22d url("../img/delivery-background.png") no-repeat 191px 32px;
	margin-top: -2px;
}

.delivery a {
	margin-left: 23px;
	margin-top: 12px;
	padding: 11px 37px 10px;
	background-color: #dda028;
}

.delivery a:hover {
	background-color: #b18020;
}

.delivery a:active {
	background-color: #9a701c;
}

.delivery h3,
.discount2 h3 {
	padding-left: 23px;
	padding-top: 21px;
	margin-bottom: 0px;
}

.tools {
	margin-left: 20px;
	margin-right: 20px;
	background: #4aafde url("../img/tools-background.png") no-repeat 197px 33px;
}

.tools a {
	background-color: #429dc7;
	padding-left: 26px;
}

.tools a:hover {
	background-color: #357e9f;
}

.tools a:active {
	background-color: #2e6e8b;
}

.mashinery {
	background: #cc79d1 url("../img/mashinery-background.png") no-repeat 191px 31px;
}

.mashinery a {
	padding-left: 31px;
	margin-left: 23px;
	background-color: #b76dbc;
}

.mashinery a:hover {
	background-color: #925796;
}

.mashinery a:active {
	background-color: #804c83;
}

.slider {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-right: 20px;
	position: relative;
	background: #55493a;
}

.slider input[type=radio] {
	position: absolute;
	opacity: 0;
}

.slider-controls {
	position: absolute;
	bottom: 36px;
	left: 210px;
	width: 200px;
	height: 10px;
	text-align: center;
	z-index: 1000;
}

.slider-controls label {
	display: inline-block;
	vertical-align: top;
	width: 6px;
	height: 6px;
	background: #ffffff;
	border: 2px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}

.slide-text {
	width: auto;
	height: 230px;
	padding-top: 26px;
	padding-left: 25px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.slide-text p {
	margin-top: 5px;
	margin-bottom: 29px;
}

.slide-title {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 36px;
	line-height: 30px;
}

.slide {
	display: none;
	width: 620px;
	height: 266px;
}

.slide:nth-child(1) {
	background-image: url("../img/slider-1-620-266.jpg");
	background-repeat: no-repeat;
}

.slide:nth-child(2) {
	background-image: url("../img/slider2-620-266.jpg");
	background-repeat: no-repeat;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
	background: red;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}

.label-btn1 {
	margin-right: 10px;
}

.content3 {
	display: inline-block;
	vertical-align: top;
}

.clearfix {
	display: table;
	clear: both;
}

.slide-text .button5 {
	display: block;
	margin-top: 46px;
	width: 195px;
	padding: 10px 25px 10px 50px;
	background-color: #ee3643;
	text-decoration: none;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
}

.slide-text .button5:hover {
	background-color: #ca2c37;
}

.slide-text .button5:active {
	background-color: #ba2732;
}

.next {
	margin-left: 507px;
	padding: 30px 0px 10px 10px;
}

.previous {
	padding: 30px 10px 10px 0px;
}

.popular {
	height: 89px;
	background-color: #f7f3ec;
	margin-top: 53px
}

.popular-button {
	margin-left: 367px;
	margin-top: 25px;
}

.popular h2 {
	display: inline-block;
	vertical-align: top;
	margin-left: 28px;
	margin-top: 30px;
	box-sizing: border-box;
	font-size: 30px;
	font-weight: normal;
	color: #32425c;
	line-height: 30px;
}

.button3 {
	display: inline-block;
	vertical-align: top;
	padding: 11px 55px 10px;
	background-color: #ee3643;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
}

.button3:hover {
	background-color: #ca2c37;
}

.button3:active {
	background-color: #ba2732;
}

.popular-brands {
	margin-top: 1px;
}

.popular-brands h2 {
	margin-left: 24px;
}

.button4 {
	margin-left: 269px;
	margin-top: 24px;
	padding: 10px 69px 10px;
}

.logo-list {
	font-size: 0;
	margin-top: 20px;
}

.logo-item {
	display: inline-block;
	vertical-align: top;
	width: 218px;
	height: 143px;
	border: 1px solid #e5e5e5;
	margin-right: 20px;
	margin-bottom: 20px;
}

.logo-item:hover {
	cursor: pointer;
	box-shadow: 0 5px 35px 5px #abafb8;
}

.logo-item:active {
	cursor: pointer;
	opacity: 0.3;
}

.logo-item:nth-child(4n) {
	margin-right: 0px;
}


/* PSD Макет сделан неровно! Содержимое 3го слайда из слайдера с сервисом не входит в центровщик!!!*/

.expand-slider {
	width: 960px;
	padding-left: 20px;
}

.service-block {
	font-size: 0;
	margin-top: 65px;
	height: 522px;
	background-color: #f2f6f8;
}

.services {
	height: 120px;
	padding-top: 68px;
	padding-left: 2px;
}

.services h2 {
	margin: 0px;
	color: #000000;
	font-weight: normal;
	line-height: 24px;
}

.services p {
	margin-top: 28px;
	font-family: "PT sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	white-space: pre;
}

.service-menu {
	position: relative;
	margin-top: 52px;
	width: 240px;
	height: 180px;
}

.service-menu::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 279px;
	top: -50px;
	left: 230px;
	background: url("../img/service-shadow.png") no-repeat;
	z-index: 100;
	opacity: 0.3;
}

.service-menu a {
	display: block;
	padding-left: 22px;
	padding-top: 17px;
	padding-bottom: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 25px;
	text-align: left;
	text-decoration: none;
}

.delivery-service {
	background-color: #32425c;
	color: #ffffff;
	box-shadow: inset 0 -1px 0 0 #293449;
}

.guarantee-service {
	background-color: #32425c;
	color: #ffffff;
	box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.credit-service {
	background-color: #32425c;
	color: #ffffff;
	box-shadow: inset 0 1px 0 0 #405069;
}

.service-menu a:active {
	color: #32425c;
	background-color: #ffffff;
}

.delivery-slide {
	display: inline-block;
	vertical-align: top;
	width: 720px;
	height: 320px;
	background: url("../img/deliveryslide.png") no-repeat 231px 73px;
}

.delivery-slide h2,
.guarantee-slide h2,
.credit-slide h2 {
	margin-top: 55px;
	margin-left: 80px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 36px;
	font-weight: normal;
	color: #32425c;
	line-height: 24px;
}

.delivery-slide p,
.guarantee-slide p,
.credit-slide p {
	margin-left: 80px;
	font-family: "PT sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	white-space: pre;
}

.close-delivery {
	display: none;
}

.guarantee-slide {
	display: none;
	width: 720px;
	height: 320px;
	background: url("../img/guaranteeslide.png") no-repeat 319px 51px;
}

.show-guarantee {
	display: inline-block;
	vertical-align: top;
}

.show-g {
	background-color: #ffffff;
	color: #32425c;
}

.show-c {
	background-color: #ffffff;
	color: #32425c;
}

.show-d {
	background-color: #ffffff;
	color: #32425c;
}

.credit-slide {
	display: none;
	width: 720px;
	height: 320px;
	background: url("../img/creditslide.png") no-repeat 255px 48px;
}

.credit-button {
	display: inline-block;
	vertical-align: middle;
	margin-left: 80px;
	margin-top: 13px;
	padding: 10px 45px;
	background-color: #ee3643;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	border-radius: 4px;
}

.credit-button:hover {
	background-color: #ca2c37;
}

.credit-button:active {
	background-color: #ba2732;
}

.show-credit {
	display: inline-block;
	vertical-align: top;
}

.columns {
	font-size: 0;
	margin-top: 80px;
}

.left-col {
	width: 530px;
}

.left-col h2 {
	margin: 2px 0 0 0;
	line-height: 24px;
	color: #000000;
	font-weight: normal;
}

.left-col p {
	margin-top: 5px;
	margin-bottom: 0;
	font-family: "PT sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	white-space: pre;
	letter-spacing: 0.01em;
}

.logistic-company {
	margin-top: -13px;
}

.logistic-company li {
	position: relative;
}

.logistic-company li::before {
	content: "";
	position: absolute;
	top: 19px;
	left: 0;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.logistic-company a {
	margin-top: 25px;
	padding-left: 41px;
	padding-right: 40px;
	padding-top: 10px;
}

.companies {
	display: block;
	padding: 10px 10px 10px 35px;
	font-size: 18px;
}

.right-col {
	width: 300px;
	margin-left: 110px;
}

.right-col h2 {
	margin: 2px 0 0 0;
	line-height: 24px;
	color: #000000;
	font-weight: normal;
}

.right-col p {
	margin-top: 5px;
	margin-bottom: 0;
	font-family: "PT sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	white-space: pre;
}

.right-col img {
	margin-top: 7px;
}

.right-col a {
	margin-top: 40px;
	width: 300px;
	box-sizing: border-box;
}

.lost {
	padding-left: 65px;
}

.footer {
	margin-top: 85px;
}

.primary-footer {
	background-color: #32425c;
	height: 193px;
}

.left-part {
	float: left;
	width: 330px;
	height: 150px;
}

.right-part {
	float: right;
	width: 590px;
	height: 193px;
}

.left-part p {
	margin-top: 23px;
	margin-left: 3px;
	white-space: pre;
	line-height: 24px;
	color: #e8ecef;
}

.footer-menu {
	margin-top: 20px;
}

.footer-menu ul,
.footer-menu-yellow ul {
	list-style: none;
}

.footer-menu li,
.footer-menu-yellow li {
	float: right;
}

.footer-menu a,
.footer-menu-yellow a {
	display: block;
	padding-top: 17px;
	padding-bottom: 17px;
	line-height: 24px;
	color: #f1f5f7;
	text-decoration: none;
}

.footer-menu-yellow a {
	color: #ffd180;
}

.footer-menu1 {
	padding-left: 29px;
	padding-right: 32px;
}

.footer-menu2 {
	padding-left: 28px;
	padding-right: 32px;
}

.footer-menu3 {
	padding-left: 27px;
	padding-right: 33px;
}

.footer-menu4 {
	padding-left: 28px;
	padding-right: 31px;
}

.footer-menu5 {
	padding-left: 26px;
	padding-right: 0px;
}

.footer-menu-yellow1 {
	padding-left: 31px;
	padding-right: 29px;
}

.footer-menu-yellow2 {
	padding-left: 29px;
	padding-right: 30px;
}

.footer-menu-yellow3 {
	padding-left: 28px;
	padding-right: 33px;
}

.footer-menu-yellow4 {
	padding-left: 27px;
	padding-right: 0;
}

.footer-menu a:hover,
.footer-menu-yellow a:hover {
	text-decoration: underline;
}

.footer-menu a:active,
.footer-menu-yellow a:active {
	opacity: 0.5;
}

.secondary-footer {
	background-color: #293449;
	height: 107px;
}

.footer-company {
	display: inline-block;
	vertical-align: middle;
	height: 37px;
	font-size: 16px;
	width: 320px;
	color: #ffffff;
	margin-right: 20px;
	margin-top: -9px;
}

.footer-social {
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	height: 52px;
	margin-left: 46px;
	margin-top: 35px;
}

.footer-copyright,
.footer-copyright2 {
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	height: 52px;
	font-size: 16px;
}

.footer-copyright {
	margin-left: 106px;
	margin-top: 7px;
}

.footer-copyright2 {
	margin-left: 43px;
	margin-top: 7px;
	width: 98px;
}

.footer-copyright p {
	color: #ffffff;
}

.footer-copyright a {
	color: #f1c77c;
	text-decoration: none;
}

.footer-copyright2 p {
	color: #ffffff;
}

.footer-copyright2 a {
	color: #f1c77c;
	text-decoration: none;
}

.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background: #212a3a url("../img/footer-sprite.png") no-repeat;
	position: relative;
	border-radius: 50%;
}

.social-vk {
	background-position: -11px -285px;
}

.social-vk:hover,
.social-vk:active {
	background-position: -21px -353px;
}

.social-fb {
	background-position: -4px -9px;
}

.social-fb:hover,
.social-fb:active {
	background-position: -20px -78px;
}

.social-inst {
	background-position: -8px -150px;
}

.social-inst:hover,
.social-inst:active {
	background-position: -21px -219px;
}

.footer-copyright2 a:hover {
	text-decoration: underline;
}

.footer-copyright a:hover {
	text-decoration: underline;
}

.footer-copyright2 a:active {
	color: #ee3643;
	text-decoration: none;
}

.footer-copyright a:active {
	color: #ee3643;
	text-decoration: none;
}

.user-block {
	display: inline-block;
	vertical-align: top;
	margin-left: 38px;
	margin-top: 46px;
}

.usermenu {
	position: relative;
	padding: 13px 67px 12px 47px;
	background-color: #ffffff;
}

.usermenu a {
	font-size: 21px;
	line-height: 18px;
}

.usermenu::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 14px;
	width: 20px;
	height: 20px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -480px;
}

.usermenu::after {
	content: "";
	position: absolute;
	top: 14px;
	right: 11px;
	width: 20px;
	height: 20px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -347px;
}

.usermenu:hover {
	cursor: pointer;
}

.usermenu:hover::before {
	cursor: pointer;
	background: url("../img/user-menu-before-hover.png") no-repeat;
}

.usermenu:hover::after {
	cursor: pointer;
	background: url("../img/logout-logout-after-hover.png") no-repeat;
}

.usermenu:active {
	color: #cacaca;
}

.usermenu:active::before {
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -480px;
}

.usermenu:active::after {
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -347px;
}

.usermenu-item {
	margin-left: 4px;
}

.usermenu-item ul {
	margin: 0;
	padding: 0;
}

.usermenu-item li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 35px;
	padding: 10px 15px 0 15px;
}

.usermenu-item li::after {
	content: "";
	position: absolute;
	top: 19px;
	right: -4px;
	width: 2px;
	height: 2px;
	border: 1px solid #32425c;
	border-radius: 50%;
	background-color: #32425c;
}

.usermenu-item li:last-child::after {
	display: none;
}

.usermenu-item a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
}

.usermenu-item a:hover {
	color: #ee3643;
}

.usermenu-item a:active {
	color: #32425c;
	opacity: 0.3;
}

.breadcrumbs {
	margin-top: 13px;
	margin-left: 0;
	width: 370px;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
}

.breadcrumbs a {
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #000000;
	text-decoration: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
}

.breadcrumbs-icon {
	padding-top: 9px;
	vertical-align: middle;
	padding-left: 9px;
}

.breadcrumbs1 {
	width: 15px;
	height: 15px;
	padding: 10px 0 0 0;
	background: url("../img/.icon-home15-12.png") no-repeat;
	background-position: -1px 10px;
}

.breadcrumbs2 {
	padding-left: 13px;
	padding-right: 6px;
}

.breadcrumbs3 {
	padding-left: 8px;
	padding-right: 5px;
}

.breadcrumbs4 {
	padding-left: 13px;
}

.title2 {
	margin-top: -8px;
	height: 89px;
	background-color: #f2f6f8;
}

.title2 h1 {
	padding-top: 30px;
	margin-left: 28px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
}

.sort-by {
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
	width: 100%;
	height: 38px;
}

.left-sort-by {
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	height: 38px;
	background-color: #f7f3ec;
	border-radius: 3px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.left-sort-by p {
	margin-top: 10px;
	padding-left: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.right-sort-by {
	display: inline-block;
	vertical-align: middle;
	width: 700px;
	max-height: 38px;
	background-color: #f7f3ec;
	border-radius: 3px;
	margin-left: 15px;
}

.right-sort-by ul {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 40px;
}

.right-sort-by p {
	margin-top: 10px;
	margin-left: 19px;
	margin-right: 100px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
}

.right-sort-by li {
	display: inline-block;
	vertical-align: baseline;
}

.right-sort-by a {
	text-decoration: none;
	padding: 10px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
}

.price {
	margin-left: 26px;
	color: #ee3643;
}

.type {
	margin-left: 46px;
	color: #c4c1bb;
}

.function {
	margin-left: 40px;
	color: #c4c1bb;
}

.underline {
	position: relative;
}

.underline::after {
	content: "";
	position: absolute;
	right: 10px;
	top: 26px;
	left: 10px;
	height: 0;
	border-bottom: 1px dotted #ee3643;
}

.underline:hover::after {
	border-bottom: 1px solid #ee3643;
}

.underline:active::after {
	border-bottom: transparent;
}

li .arrow {
	font-size: 0px;
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
}

li .arrow-up {
	margin-left: 23px;
}

li .arrow-down {
	padding-left: 8px;
}

li .arrow::before {
	display: inline-block;
	vertical-align: top;
	content: "";
	border: 10px solid #c6c2bd;
	border-right-width: 5px;
	border-left-width: 5px;
	border-right-color: transparent;
	border-left-color: transparent;
}

li .arrow-up::before {
	border-top-width: 0;
}

li .arrow-down::before {
	border-bottom-width: 0;
}

li .arrow-up:hover::before {
	cursor: pointer;
	border-top-color: #000000;
	border-bottom-color: #000000;
}

li .arrow-down:hover::before {
	cursor: pointer;
	border-top-color: #000000;
	border-bottom-color: #000000;
}

li .arrow-up:active::before {
	cursor: pointer;
	border-top-color: #ee3643;
	border-bottom-color: #ee3643;
}

li .arrow-down:active::before {
	cursor: pointer;
	border-top-color: #ee3643;
	border-bottom-color: #ee3643;
}

li .arrow-up::before {
	border-top-color: #ee3643;
	border-bottom-color: #ee3643;
}

.right-sort-by a:hover {
	color: #000000;
}

.right-sort-by a:active {
	color: #ee3643;
}

.left-column {
	float: left;
	width: 220px;
}

.left-column h2 {
	margin-top: 10px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	color: #000000;
}

.range-filter {
	width: 220px;
}

.range-controls {
	position: relative;
	padding: 39px 20px 0 20px;
	height: 41px;
	border-radius: 3px;
	background: #f7f3ec;
}

.range-controls::after {
	content: "";
	position: absolute;
	top: 110px;
	left: 105px;
	width: 10px;
	height: 1px;
	background: #444444;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 85%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 4px;
	height: 4px;
	cursor: pointer;
	border: 8px solid #fff;
	border-radius: 50%;
	background: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
	margin-top: 9px;
}

.price-controls label {
	display: inline-block;
	vertical-align: top;
	width: 95px;
	font-size: 17px;
	line-height: 18px;
}

.price-controls input {
	width: 55px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	padding: 10px 20px;
	text-align: center;
	color: #000000;
	border: none;
	border-radius: 5px;
	background: #f7f3ec;
}

.max-price {
	margin-left: 30px;
}

.right-column {
	float: right;
	width: 700px;
}

.brands {
	border-top: 1px solid #e5e5e5;
	margin-top: 26px;
}

.brands h2 {
	margin-top: 16px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
}

.brands-checkbox {
	display: block;
	position: relative;
	max-width: 100px;
	margin-top: 18px;
	padding-left: 35px;
	cursor: pointer;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
}

.brands-checkbox input[type="checkbox"] {
	display: none;
}

.brands-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: 0px;
	width: 27px;
	height: 23px;
	background: transparent url("../img/checkbox-sprite.png") no-repeat;
	background-position: -10px -225px;
}

.brands-checkbox input[type="checkbox"]:hover + .checkbox-indicator:hover {
	position: absolute;
	top: -2px;
	left: 0px;
	width: 27px;
	height: 23px;
	background: transparent url("../img/checkbox-sprite.png") no-repeat;
	background-position: -10px -182px;
}

.brands-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 27px;
	height: 23px;
	background: #ffffff url("../img/checkbox-sprite.png") no-repeat;
	background-position: -10px -96px;
}

.brands-checkbox input[type="checkbox"]:hover:checked + .checkbox-indicator:hover::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 27px;
	height: 23px;
	background: #ffffff url("../img/checkbox-sprite.png") no-repeat;
	background-position: -10px -53px;
}

.power {
	margin-top: 25px;
	border-top: 1px solid #e5e5e5;
}

.power h2 {
	margin-top: 17px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
}

.radiobtn {
	display: block;
	position: relative;
	width: 140px;
	margin-top: 17px;
	padding-left: 35px;
	cursor: pointer;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}

.radiobtn input[type="checkbox"] {
	display: none;
}

.radiobtn input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	background: transparent url("../img/checkbox-sprite.png") no-repeat;
	background-position: -10px -493px;
}

.radiobtn input[type="checkbox"]:hover + .checkbox-indicator:hover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	background: transparent url("../img/checkbox-sprite.png") no-repeat;
	background-position: -10px -448px;
}

.radiobtn input[type="checkbox"]:checked + .checkbox-indicator::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	background: #ffffff url("../img/checkbox-sprite.png") no-repeat;
	background-position: -10px -358px;
}

.radiobtn input[type="checkbox"]:hover:checked + .checkbox-indicator:hover::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	background: #ffffff url("../img/checkbox-sprite.png") no-repeat;
	background-position: -10px -313px;
}

.show {
	margin-top: 79px;
	padding: 10px 38px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	background-color: transparent;
	color: #000000;
	cursor: pointer;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
}

.show:hover {
	border-color: #bdc6ca;
}

.show:active {
	border-color: #ee3643;
}

.catalog-item-section {
	margin-top: 20px;
	font-size: 0px;
}

.catalog-items {
	width: 700px;
	margin: 20px auto 0;
	font-size: 0;
}

.catalog-item,
.index-catalog-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 218px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
	font-family: "PT Sans", "Arial", sans-serif;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}

.catalog-item:hover,
.index-catalog-item:hover {
	cursor: pointer;
	box-shadow: 0 5px 35px 5px #abafb8;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.index-catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item .flag,
.index-catalog-item .flag {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.catalog-item .flag-new,
.index-catalog-item .flag-new {
	background: url("../img/new%20flag60-6022.png") no-repeat 0 0;
}

.catalog-item .actions,
.index-catalog-item .actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark,
.index-catalog-item .actions .buy,
.index-catalog-item .actions .bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	background-color: #63a63e;
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", "Arial", sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.catalog-item .actions .buy,
.index-catalog-item .actions .buy {
	background: #63a63e url(../img/catalog-itemnew.png) no-repeat 13px 7px;
}

.catalog-item .actions .bookmark,
.index-catalog-item .actions .bookmark {
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

.catalog-item .actions .bookmark:hover,
.index-catalog-item .actions .bookmark:hover {
	border-color: #32425c;
}

.catalog-item .actions .bookmark:active,
.index-catalog-item .actions .bookmark:active {
	border-color: #c1c6ce;
	color: #d6d8dc;
}

.catalog-item .actions .buy:hover,
.index-catalog-item .actions .buy:hover {
	background: #5fbb2d url(../img/.icon-basket2-17-16.png) no-repeat 13px 7px;
	border-left-color: #5fbb2d;
	border-right-color: #5fbb2d;
	border-top-color: #5fbb2d;
}

.catalog-item .actions .buy:active,
.index-catalog-item .actions .buy:active {
	background: #518534 url(../img/.icon-basket2-17-16.png) no-repeat 13px 7px;
	border-color: #518534;
}

.catalog-item .actions,
.index-catalog-item .actions {
	display: none;
}

.index-catalog-item:hover .actions,
.catalog-item:hover .actions {
	display: block;
}

.catalog-item .image,
.index-catalog-item .image {
	width: 218px;
	height: 168px;
}

.catalog-item .image img,
.index-catalog-item .image img {
	max-width: 100%;
}

.index-catalog-item .title,
.title {
	min-height: 40px;
	padding: 0 25px;
	margin-top: 11px;
	margin-bottom: 15px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}

.index-catalog-item .discount,
.catalog-item .discount {
	min-height: 20px;
	margin-top: -4px;
	margin-bottom: 8px;
	font-size: 17px;
	line-height: 18px;
	color: #999999;
	text-decoration: line-through;
}

.index-catalog-item .price,
.catalog-item .price {
	position: relative;
	width: 80px;
	margin: 0 auto 20px 42px;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
}

.index-catalog-item .price:after,
.catalog-item .price:after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #ee3643;
}

.paginator {
	margin-top: 32px;
	width: 304px;
}

.paginator a {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	max-height: 36px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-decoration: none;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin-right: 10px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.page-list {
	width: 36px;
}

.next-page {
	width: 138px;
}

.paginator .current-page {
	background-color: #ee3643;
	color: #fef5f6;
}

.paginator a:hover {
	border-color: #bdc6ca;
}

.paginator a:active {
	border-color: #ee3643;
}

article {
	margin-top: 60px;
	height: 260px;
	background-color: #f2f6f8;
}

.article-title {
	padding-top: 43px;
}

.article-title h2 {
	margin-bottom: 0;
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 24px;
	color: #000000;
}

.article-content {
	margin-top: 5px;
	white-space: pre;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0.01em;
}

.right-col a .map {
	padding-left: -30px;
}

@keyframes fadein {
	0% {
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeout {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(1000px);
		opacity: 0;
	}
}

.modal-content-map {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 940px;
	height: 446px;
	margin-left: -470px;
	margin-top: -223px;
	background: url("../img/map940-446.png");
	box-shadow: 0 0 20px 5px #c4c3c4;
	z-index: 1000;
}

.show-map {
	display: block;
	animation: fadein;
	animation-duration: 0.8s;
	animation-timing-function: ease-out;
}

.modal-content,
.catalog-modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 620px;
	height: 275px;
	margin-left: -310px;
	margin-top: -141px;
	background-image: linear-gradient( #ffffff 59%, #f1f1f1 59%);
	border-top: 7px solid #ee3643;
	box-shadow: 0 15px 30px 5px #747b81;
	z-index: 1001;
}

.modal-content ul,
.catalog-modal ul {
	margin-top: 45px;
}

.green-checkbox {
	display: inline-block;
	vertical-align: top;
	margin-left: 81px;
	margin-top: 47px;
	position: relative;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: #63a63e;
}

.green-checkbox::before {
	position: absolute;
	content: "";
	top: 34px;
	left: 14px;
	width: 15px;
	height: 7px;
	border-radius: 1px;
	z-index: 1000;
	background: #ffffff;
	transform: rotate(45deg);
}

.green-checkbox::after {
	position: absolute;
	content: "";
	top: 31px;
	left: 21px;
	width: 35px;
	height: 7px;
	border-radius: 1px;
	z-index: 1000;
	background: #ffffff;
	transform: rotate(-45deg);
}

.modal-heading {
	display: inline-block;
	vertical-align: top;
	margin-top: 71px;
	margin-left: 30px;
	white-space: pre;
	font-size: 30px;
	line-height: 18px;
	color: #000000;
}

.modal-content-close,
.catalog-modal-close {
	position: absolute;
	top: 3px;
	right: 5px;
	width: 21px;
	height: 21px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 10px 20px 20px 10px;
}

.cross {
	top: 36px;
	right: 9px;
}

iframe {
	border: 0;
}

.modal-content-close::before,
.modal-content-close::after,
.catalog-modal-close::before,
.catalog-modal-close::after {
	content: "";
	position: absolute;
	top: 14px;
	right: 2px;
	width: 26px;
	height: 5px;
	background-color: #ee3643;
	border-radius: 1px;
}

:focus {
	outline: none;
}

.modal-content-close::before,
.catalog-modal-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after,
.catalog-modal-close::after {
	transform: rotate(-45deg);
}

.modal-content li,
.catalog-modal li {
	display: inline-block;
	vertical-align: top;
	margin-top: 47px;
}

.modal-content li:first-child,
.catalog-modal li:first-child {
	margin-left: 81px;
	margin-top: 47px;
}

.modal-content li:last-child,
.catalog-modal li:last-child {
	margin-left: 17px;
}

.popup-button1,
.popup-button2 {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	cursor: pointer;
}

.popup-button1 {
	padding: 11px 60px;
	background: #ee3643;
	color: #ffffff;
}

.popup-button1:hover {
	background-color: #ca2c37;
}

.popup-button1:active {
	background-color: #ba2732;
}

.popup-button2 {
	padding: 11px 44px;
	background: #ffffff;
	color: #000000;
}

.popup-button2:hover {
	color: #ee3643;
}

.popup-button2:active {
	color: #cacaca;
}

.show-buy-form {
	display: block;
	animation-name: fadein;
	animation-duration: 0.8s;
	animation-timing-function: ease-out;
}

.modal-mail {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 620px;
	height: 423px;
	margin-left: -310px;
	margin-top: -215px;
	background-image: linear-gradient( #ffffff 73%, #f1f1f1 73%);
	border-top: 7px solid #ee3643;
	box-shadow: 0 0 40px 0px #696969;
	z-index: 1000;
}

.modal-mail form {
	font-size: 0;
}

.modal-mail input {
	padding: 9px 13px;
	width: 220px;
	background-color: #ffffff;
	border: 2px solid #d7dcde;
	border-radius: 2px;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	box-sizing: border-box;
}

.mail-input1 {
	margin-left: 80px;
}

.mail-input2 {
	margin-left: 20px;
}

.modal-mail textarea {
	margin-left: 80px;
	padding: 9px 13px;
	width: 460px;
	height: 112px;
	background-color: #ffffff;
	border: 2px solid #d7dcde;
	border-radius: 2px;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	box-sizing: border-box;
}

.modal-mail p {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	margin-left: 80px;
	margin-bottom: 9px;
	white-space: pre;
	line-height: 18px;
}

.modal-mail p:first-child {
	margin-top: 47px;
}

.send-mail {
	width: 460px;
	padding: 10px 198px 10px 198px;
	margin-left: 80px;
	margin-top: 77px;
	color: #ffffff;
	background-color: #ee3643;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	box-sizing: border-box;
	border-width: 0;
	border-radius: 3px;
	cursor: pointer;
}

.send-mail:hover {
	background-color: #ca2c37;
}

.send-mail:active {
	background-color: #ba2732;
}

.show-mail {
	display: block;
	animation-name: fadein;
	animation-duration: 0.8s;
	animation-timing-function: ease-out;
}

.fadeout {
	display: block;
	animation-name: fadeout;
	animation-duration: 0.8s;
	animation-timing-function: ease-in;
	opacity: 0;
}